body{
background-color: rgb(9, 10, 10);
color: rgb(245, 242, 242);
}
 
header{
background-color: aqua;
padding:40px;
}

.links{
color: #FFF;
font-size:30px;
text-decoration:none;
background-color: blueviolet;
padding:15px 25px;
border-radius:30px;
}

h1{
color:aqua;
text-align:center;
}
